<div id="animationBet" class ="animationMain"><!--开始下注-->
    <div class="Animation_start_bg"></div>
    <div class="Animation_start">
        <div class="Animation_rotating_bg">
            <i></i>
        </div>
        <div class="Animation_light_bg">
            <i></i>
        </div>
        <div class="Animation_start_img">
            <i></i>
        </div>
        <div class="Animation_start_star">
            <i></i>
        </div>
        <div class="Animation_start_star1">
            <i></i>
        </div>
        <div class="Animation_start_star2">
            <i></i>
        </div>
        <div class="Animation_start_star3">
            <i></i>
        </div>
        <div class="Animation_start_star4">
            <i></i>
        </div>
        <div class="Animation_start_star5">
            <i></i>
        </div>
        <div class="Animation_start_star6">
            <i></i>
        </div>
        <div class="Animation_start_star7">
            <i></i>
        </div>
        <div class="Animation_start_star8">
            <i></i>
        </div>
        <div class="Animation_start_star9">
            <i></i>
        </div>
        <div class="Animation_start_star10">
            <i></i>
        </div>
        <div class="Animation_start_star11">
            <i></i>
        </div>
        <div class="Animation_start_star12">
            <i></i>
        </div>
    </div>
</div>

<div id="BullAnimation"></div>
