<div  class="container">
    <div class="ui-destop-bg ui-game">
        <div class="ui-destop">
            <a class="ui-destop-back">
            </a>
            <a class="ui-destop-onlookers">
                <div class="onlookers_jb">
                </div>
            </a>
            <a class="ui-destop-charts">
                <img src="../static/images/poker/bullFight/bull100/icon/charts.png"/>
            </a>
            <div class="chip"></div>
            <div class="cards"></div>
        </div>
        <!--滚动通知-->
        <div class="ui-destop-notice">
            <div class="ui-destopnotic-font">
                <marquee direction="left" scrollamount="2">
                    恭喜<span>Toggle</span>获得<b>550元</b>大奖奖奖奖奖奖奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    恭喜<span>Toggle2</span>获得<b>550元</b>大奖奖奖奖奖奖奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    恭喜<span>Toggle3</span>获得<b>550元</b>大奖奖奖奖奖奖奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </marquee>
            </div>
            <div class="ui-destop-notic-wifi">
                <img src="../static/images/poker/bullFight/common/icon/wifi3.png"/>
            </div>
        </div>
        <!--头像扑克牌-->
        <div class="ui-destop-user-border">
            <div class="user-border user-border-a">
                <div class="ui-destop-user-b bull-user-a">
                    <div class="ui-destop-user-photo">
                        <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
                    </div>
                    <div class="bull_user_name2">
                        花花不是花
                    </div>
                    <div class="bull_user_nub1">
                        3,710
                    </div>
                    <div class="bull_money_diff bull_add_money bull_nub_left">+2000</div>
                    <div class="room_nub">房间：<span id="room_nub">35</span></div>
                </div>
            </div>
            <div class="user-border-lr user-border-b">
                <div class="ui-destop-user-b">
                    <div class="ui-destop-user-photo">
                        <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
                    </div>
                    <div class="bull_user_name">
                        花花不是花
                    </div>
                    <div class="ui-destop-user-gold-num">
                        3,710
                    </div>
                </div>
            </div>
            <div class="user-border-lr user-border-c">
                <div class="ui-destop-user-b">
                    <div class="ui-destop-user-photo">
                        <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
                    </div>
                    <div class="bull_user_name">
                        花花不是花
                    </div>
                    <div class="ui-destop-user-gold-num">
                        3,710
                    </div>
                </div>
            </div>
            <div class="user-border-lr user-border-d">
                <div class="ui-destop-user-b">
                    <div class="ui-destop-user-photo">
                        <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
                    </div>
                    <div class="bull_user_name">
                        花花不是花
                    </div>
                    <div class="ui-destop-user-gold-num">
                        3,710
                    </div>
                </div>
            </div>
            <div class="user-border-lr user-border-e">
                <div class="ui-destop-user-b">
                    <div class="ui-destop-user-photo">
                        <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
                    </div>
                    <div class="bull_user_name">
                        花花不是花
                    </div>
                    <div class="ui-destop-user-gold-num">
                        3,710
                    </div>
                </div>
            </div>
            <div class="user-border-lr user-border-g">
                <div class="ui-destop-user-b">
                    <div class="ui-destop-user-photo">
                        <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
                    </div>
                    <div class="bull_user_name">
                        花花不是花
                    </div>
                    <div class="ui-destop-user-gold-num">
                        3,710
                    </div>
                </div>
            </div>
            <div class="user-border-lr user-border-h">
                <div class="ui-destop-user-b">
                    <div class="ui-destop-user-photo">
                        <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
                    </div>
                    <div class="bull_user_name">
                        花花不是花
                    </div>
                    <div class="ui-destop-user-gold-num">
                        3,710万
                    </div>
                </div>
            </div>
        </div>
        <!--牌面-->
        <div class="playing_card">
            <div class="playing_card_user1">
                <div class="cmm_card ">
                    <div class="cmm_card2">
                        <div class="card_left">
                            <div class="card_left_nub nub0">
                            </div>
                            <div class="card_flow flow0">
                            </div>
                        </div>
                        <div class="card_auto auto0">
                        </div>
                    </div>
                </div>
                <div class="cmm_card ">
                    <div class="cmm_card2">
                        <div class="card_left">
                            <div class="card_left_nub nub1">
                            </div>
                            <div class="card_flow flow0">
                            </div>
                        </div>
                        <div class="card_auto auto0">
                        </div>
                    </div>
                </div>
                <div class="cmm_card ">
                    <div class="cmm_card2">
                        <div class="card_left">
                            <div class="card_left_nub nub2">
                            </div>
                            <div class="card_flow flow0">
                            </div>
                        </div>
                        <div class="card_auto auto0">
                        </div>
                    </div>
                </div>
                <div class="cmm_card ">
                    <div class="cmm_card2">
                        <div class="card_left">
                            <div class="card_left_nub nub3">
                            </div>
                            <div class="card_flow flow0">
                            </div>
                        </div>
                        <div class="card_auto auto0">
                        </div>
                    </div>
                </div>
                <div class="cmm_card ">
                    <div class="cmm_card2">
                        <div class="card_left">
                            <div class="card_left_nub nub4">
                            </div>
                            <div class="card_flow flow0">
                            </div>
                        </div>
                        <div class="card_auto auto0">
                        </div>
                    </div>
                </div>
                <div class="cow cow0">
                    <div></div>
                </div>
            </div>

        </div>
    </div>

        <!--中心区-->
        <div class="GC-center1">
            <div class="GC-up" >
                <div class="Gamble_p1">
                    <div class="Gamble_bg1 Gamble_bt">
                        <div class="small_big">
                            <div class="Gamble_zje1">
                            326万
                        </div>
                        </div>
                        <div class="Gamble_jb Bull_flow_bt">
                        </div>
                        <div class="Gamble_per1">
                            3000
                        </div>
                        <div class="Gamble_per1 Gamble_win">
                            <span class="Gamble_per_left ">×1</span>
                            <span class="Gamble_per_right">300</span>
                        </div>
                    </div>
                </div>
                <div class="playing_card_user">
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub5">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto0">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub6">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto0">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub7">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto0">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub8">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto0">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub9">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto0">
                            </div>
                        </div>
                    </div>
                    <div class="cow cow0">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="GC-up" >
                <div class="Gamble_p1">
                    <div class="Gamble_bg1 Gamble_rt">
                        <div class="small_big">
                            <div class="Gamble_zje1">
                                326万
                            </div>
                        </div>
                        <div class="Gamble_jb Bull_flow_rt">
                        </div>
                        <div class="Gamble_per1">
                            3000
                        </div>
                        <div class="Gamble_per1 Gamble_win">
                            <span class="Gamble_per_left ">×1</span>
                            <span class="Gamble_per_right">300</span>
                        </div>
                    </div>
                </div>
                <div class="playing_card_user">
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub2">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub3">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub4">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub5">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub6">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cow cow0">
                        <div></div>
                    </div>
                </div>

            </div>
            <div class="GC-up" >
                <div class="Gamble_p1">
                    <div class="Gamble_bg1 Gamble_mh">
                        <div class="small_big">
                            <div class="Gamble_zje1">
                                326万
                            </div>
                        </div>
                        <div class="Gamble_jb Bull_flow_mh">
                        </div>
                        <div class="Gamble_per1">
                            3000
                        </div>
                        <div class="Gamble_per1 Gamble_win">
                            <span class="Gamble_per_left ">×1</span>
                            <span class="Gamble_per_right">300</span>
                        </div>
                    </div>
                </div>
                <div class="playing_card_user">
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub10">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto4">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub11">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto5">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub nub12">
                                </div>
                                <div class="card_flow flow0">
                                </div>
                            </div>
                            <div class="card_auto auto6">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub0">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub1">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cow cow0">
                        <div></div>
                    </div>
                </div>

            </div>
            <div class="GC-up" >
                <div class="Gamble_p1">
                    <div class="Gamble_bg1 Gamble_fk">
                        <div class="small_big">
                            <div class="Gamble_zje1">
                                326万
                            </div>
                        </div>
                        <div class="Gamble_jb Bull_flow_fk">
                        </div>
                        <div class="Gamble_per1">
                            3000
                        </div>
                        <div class="Gamble_per1 Gamble_win">
                            <span class="Gamble_per_left ">×1</span>
                            <span class="Gamble_per_right">300</span>
                        </div>
                    </div>
                </div>
                <div class="playing_card_user">
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub7">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub8">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub9">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto1">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub10">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto4">
                            </div>
                        </div>
                    </div>
                    <div class="cmm_card ">
                        <div class="cmm_card2">
                            <div class="card_left">
                                <div class="card_left_nub rnub11">
                                </div>
                                <div class="card_flow flow1">
                                </div>
                            </div>
                            <div class="card_auto auto5">
                            </div>
                        </div>
                    </div>
                    <div class="cow cow0">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    <!--倒计时-->
    <div class="Prompt">请选择幸运区域</div>


        <!--规则记录 -->
        <div class="rule">
            <div class="rule_left">
            </div>
            <div class="rule_right">
                <ul>
                    <li>
                        <a href="">
                            <div class="icon"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    <div class="ui-destop-stake">
        <img src="../static/images/bull100/comm_icon_bet.png"/>
    </div>
<!--投注按钮-->
<div class="Betting">
    <ul class="Betting_ul">
        <li class="Be_bg">
            <span>100</span>
        </li>
        <li class="Be_bg1">
            <span>1000</span>
        </li>
        <li class="Be_bg1">
            <span>1万</span>
        </li>
        <li class="Be_bg1">
            <span>5万</span>
        </li>
        <li class="Be_bg1">
            <span>10万</span>
        </li>
    </ul>
</div>
    <div class="user-border user-border-f">
        <div class="ui-destop-user-b bull-user-a">
            <div class="ui-destop-user-photo">
                <img src="../static/images/head/comm_1_icon_head_00.jpg"/>
            </div>
            <div class="bull_user_name2">
                花花不是花
            </div>
            <div class="bull_user_nub1">
                3,710
            </div>
            <div class="bull_money_diff bull_add_money bull_nub_left">+2000</div>
            <div class="room_nub">房间：<span>35</span></div>
            <div class="board_jb"></div>
        </div>
    </div>
    </div>
