<div class="container">
    <canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas>
    <div id="splash">

        <div class="Animation_loading_bg">
            <div class="Animation_loading_content">
                <div class="Animation_loading_cow">
                    <div class="loading_eyes_left">
                        <div class="Animation_loading_light"></div>
                    </div>
                    <div class="loading_eyes_right">
                        <div class="Animation_loading_light1"></div>
                    </div>
                </div>
                <div class="Animation_loading_zz"></div>
            </div>
            <div class="Animation_loading_font">
                <ul>
                    <li class="loading_font_zheng"></li>
                    <li class="loading_font_zai"></li>
                    <li class="loading_font_su"></li>
                    <li class="loading_font_pei"></li>
                    <li class="loading_font_zhong"></li>
                    <li class="loading_font_round"></li>
                    <li class="loading_font_round loading_round_animation"></li>
                    <li class="loading_font_round loading_round1_animation"></li>
                    <!--<li class="loading_font loading_font_nub1 loading_font_py "></li>-->
                    <!--<li class="loading_font loading_font_nub2"></li>-->
                    <!--<li class="loading_font_miao"></li>-->
                </ul>
            </div>
            <div class="Animation_loading_prompt">
                <div class="loading_prompt_round">!</div>
                <p>五张牌的三张加起来是十的倍数就有牛</p>
            </div>
        </div>

        <!--<div class="progress-bar stripes">-->
        <!--<span style="width: 0%"></span>-->
        <!--</div>-->
    </div>
    <script src="static/js/bull/settings.js" charset="utf-8"></script>
    <script src="static/js/bull/main.js" charset="utf-8"></script>
</div>