<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform_room_b_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{311,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,172}}</string>
                <key>sourceSize</key>
                <string>{311,172}</string>
            </dict>
            <key>platform_room_b_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{311,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,172}}</string>
                <key>sourceSize</key>
                <string>{311,172}</string>
            </dict>
            <key>platform_room_b_2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,315},{311,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,172}}</string>
                <key>sourceSize</key>
                <string>{311,172}</string>
            </dict>
            <key>platform_room_b_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{311,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,172}}</string>
                <key>sourceSize</key>
                <string>{311,172}</string>
            </dict>
            <key>platform_room_b_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{311,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,172}}</string>
                <key>sourceSize</key>
                <string>{311,172}</string>
            </dict>
            <key>platform_room_b_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,172}}</string>
                <key>sourceSize</key>
                <string>{311,172}</string>
            </dict>
            <key>platform_room_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,882},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,882},{123,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,756},{123,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,882},{123,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,756},{123,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,755},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,692},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,628},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,628},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{123,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>platform_room_n_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,756},{121,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_text_room_room.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec14ddf86b5e0894cf7ae6de508409b:1/1$</string>
            <key>textureFileName</key>
            <string>common_text_room_room.png</string>
        </dict>
    </dict>
</plist>
