<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>default/dating0018a01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,424},{422,158}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,424},{211,73}}</string>
				<key>offset</key>
				<string>{93,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a03.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1939},{213,74}}</string>
				<key>offset</key>
				<string>{92,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,1916},{213,73}}</string>
				<key>offset</key>
				<string>{92,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,1939},{213,74}}</string>
				<key>offset</key>
				<string>{92,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,2},{418,160}}</string>
				<key>offset</key>
				<string>{6,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,2},{418,159}}</string>
				<key>offset</key>
				<string>{6,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1320},{428,160}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,434},{420,161}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1319},{420,163}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0020b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1892},{164,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,43}</string>
			</dict>
			<key>default/dating0020c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,1816},{164,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,43}</string>
			</dict>
			<key>default/dating0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,2},{854,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{854,548}</string>
			</dict>
			<key>default/dating0021b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1892},{825,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{825,72}</string>
			</dict>
			<key>default/dating0021c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,1743},{90,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,72}</string>
			</dict>
			<key>default/dating0021d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1558,1743},{90,63}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,72}</string>
			</dict>
			<key>default/dating0021e.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,2017},{28,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,38}</string>
			</dict>
			<key>default/dating0021f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,130},{31,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>default/dating0021g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,557},{58,50}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,50}</string>
			</dict>
			<key>default/dating0021h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1752},{76,59}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,72}</string>
			</dict>
			<key>default/dating0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,639},{129,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,110}</string>
			</dict>
			<key>default/dating0022a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,424},{129,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,110}</string>
			</dict>
			<key>default/dating0022c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1810},{90,49}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,110}</string>
			</dict>
			<key>default/dating0022d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1752},{92,51}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,110}</string>
			</dict>
			<key>default/dating0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1274},{178,30}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,42}</string>
			</dict>
			<key>default/dating0023b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1968},{391,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,74}</string>
			</dict>
			<key>default/dating0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,1863},{147,41}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,43}</string>
			</dict>
			<key>default/dating0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1274},{147,40}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,43}</string>
			</dict>
			<key>default/dating0026b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,2},{42,40}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,43}</string>
			</dict>
			<key>default/dating0026c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,1922},{340,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,118}</string>
			</dict>
			<key>default/dating0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,1993},{76,40}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,44}</string>
			</dict>
			<key>default/dating0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,706},{57,33}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,33}</string>
			</dict>
			<key>default/dating0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,94},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>default/dating0029b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,706},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>default/dating0029c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,48},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,43}</string>
			</dict>
			<key>default/dating0029d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,1853},{56,59}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>default/dating0029e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,1853},{56,59}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>default/dating0029f.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1968},{243,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,66}</string>
			</dict>
			<key>default/dating0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,772},{181,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,74}</string>
			</dict>
			<key>default/dating0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,1863},{119,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,75}</string>
			</dict>
			<key>default/dating0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1892},{249,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,43}</string>
			</dict>
			<key>default/dating0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1816},{1222,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1222,72}</string>
			</dict>
			<key>default/dating0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,1993},{80,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,43}</string>
			</dict>
			<key>default/dating0034a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,1274},{81,39}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,43}</string>
			</dict>
			<key>default/dating0034b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,1863},{81,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,43}</string>
			</dict>
			<key>default/dating0034c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1810},{81,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,43}</string>
			</dict>
			<key>default/dating0034d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,1993},{81,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,43}</string>
			</dict>
			<key>default/dating0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,557},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>default/dating0024a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,557},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>default/dating0004b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,619},{81,83}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,87}</string>
			</dict>
			<key>default/dating0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1334,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,678}</string>
			</dict>
			<key>default/dating0020d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1340},{1282,472}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1282,472}</string>
			</dict>
			<key>default/dating0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,860},{898,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{898,410}</string>
			</dict>
			<key>default/dating0006d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,1274},{113,42}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005i.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1274},{135,37}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,1274},{113,43}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,1274},{113,41}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,1815},{105,37}}</string>
				<key>offset</key>
				<string>{3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0018a06.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1968},{214,74}}</string>
				<key>offset</key>
				<string>{93,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
			<key>default/dating0018a09b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,2},{428,159}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dlgAddCreateRecordPlist.png</string>
			<key>realTextureFileName</key>
			<string>dlgAddCreateRecordPlist.png</string>
			<key>size</key>
			<string>{1887,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1887</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>