<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>more/btn_BloodyBattleMahjong.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,949},{375,478}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,478}</string>
			</dict>
			<key>more/btn_FightAgainstLandlords.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,0},{303,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,413}</string>
			</dict>
			<key>more/btn_FourCow.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,0},{323,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,426}</string>
			</dict>
			<key>more/btn_RedMahjong.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1324},{292,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,418}</string>
			</dict>
			<key>more/img_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,413},{481,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{481,229}</string>
			</dict>
			<key>more/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1896},{60,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,63}</string>
			</dict>
			<key>more/btn_Recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1981},{52,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,55}</string>
			</dict>
			<key>more/img_inputbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1896},{245,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,62}</string>
			</dict>
			<key>more/btn_moneyroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{471,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{471,480}</string>
			</dict>
			<key>more/btn_ace.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,480},{351,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,431}</string>
			</dict>
			<key>more/btn_Civilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1742},{292,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,418}</string>
			</dict>
			<key>more/btn_newhand.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,426},{323,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,426}</string>
			</dict>
			<key>more/btn_oldhand.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,852},{282,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,413}</string>
			</dict>
			<key>more/img_crowded.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,1896},{82,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,43}</string>
			</dict>
			<key>more/img_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,2000},{83,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,43}</string>
			</dict>
			<key>more/img_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1939},{82,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,42}</string>
			</dict>
			<key>more/img_MinEnterScore_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2000},{156,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,42}</string>
			</dict>
			<key>more/img_MinEnterScore_2000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1958},{181,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,42}</string>
			</dict>
			<key>more/img_MinEnterScore_300.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2000},{156,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,42}</string>
			</dict>
			<key>more/img_MinEnterScore_800.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1958},{156,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,42}</string>
			</dict>
			<key>more/img_smooth.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1896},{82,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,42}</string>
			</dict>
			<key>more/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,1938},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>more/btn_creater_nntb_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1422},{401,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,463}</string>
			</dict>
			<key>more/btn_createroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1422},{401,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,474}</string>
			</dict>
			<key>more/btn_join_nntb_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{413,469}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{413,469}</string>
			</dict>
			<key>more/btn_join_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,949},{402,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,473}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dlgMoreGamePlist.png</string>
			<key>realTextureFileName</key>
			<string>dlgMoreGamePlist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>