<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>default/beij002b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1281},{440,523}}</string>
				<key>offset</key>
				<string>{-265,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>default/beij002c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{501,522}}</string>
				<key>offset</key>
				<string>{-286,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>default/dating0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1808},{1334,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,78}</string>
			</dict>
			<key>default/dating0007b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1890},{1334,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,74}</string>
			</dict>
			<key>default/dating0008b.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,180},{307,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,97}</string>
			</dict>
			<key>default/dating0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1968},{255,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,68}</string>
			</dict>
			<key>default/dating0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1968},{98,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,60}</string>
			</dict>
			<key>default/dating0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,2},{243,279}}</string>
				<key>offset</key>
				<string>{-3,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,318}</string>
			</dict>
			<key>default/dating0015a01.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1281},{131,98}}</string>
				<key>offset</key>
				<string>{-32,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>default/dating0015a02.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1090},{129,97}}</string>
				<key>offset</key>
				<string>{-31,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>default/dating0015a03.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1194},{119,83}}</string>
				<key>offset</key>
				<string>{-35,63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>default/dating0015a04.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1191},{119,84}}</string>
				<key>offset</key>
				<string>{-39,61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>default/dating0015a05.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1383},{110,96}}</string>
				<key>offset</key>
				<string>{-39,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>default/dating0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1582},{70,130}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,138}</string>
			</dict>
			<key>default/dating0016b.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1582},{70,130}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,138}</string>
			</dict>
			<key>default/dating0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,528},{343,749}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,751}</string>
			</dict>
			<key>default/dating0017a.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,982},{221,104}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,108}</string>
			</dict>
			<key>default/dating0017b.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,281},{220,99}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,108}</string>
			</dict>
			<key>default/dating0017c.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1090},{220,100}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,108}</string>
			</dict>
			<key>default/dating0017d.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,803},{221,101}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,108}</string>
			</dict>
			<key>default/dating0017e.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,2},{222,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,108}</string>
			</dict>
			<key>default/dating0017f.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1968},{53,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,38}</string>
			</dict>
			<key>default/dating0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,285},{295,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,184}</string>
			</dict>
			<key>default/dating0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1968},{377,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,48}</string>
			</dict>
			<key>default/dating0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,384},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,577},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,803},{175,175}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,178}</string>
			</dict>
			<key>default/dating0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1279},{91,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>default/dating0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1383},{92,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>default/dating0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,2},{186,174}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>default/dating0060.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,665},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0015a06.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,908},{131,94}}</string>
				<key>offset</key>
				<string>{-32,58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>default/dating0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,528},{251,271}}</string>
				<key>offset</key>
				<string>{7,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,318}</string>
			</dict>
			<key>default/dating0012a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1483},{100,95}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>default/dating0017cb.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,473},{220,100}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dlgPlazaPlist.png</string>
			<key>realTextureFileName</key>
			<string>dlgPlazaPlist.png</string>
			<key>size</key>
			<string>{1338,2038}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1338</integer>
			<key>height</key>
			<integer>2038</integer>
		</dict>
	</dict>
</plist>