<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>main/plaza_btnAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,593},{57,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,61}</string>
			</dict>
			<key>main/plaza_caiNiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,0},{265,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,113}</string>
			</dict>
			<key>main/plaza_diamondsIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,933},{107,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,87}</string>
			</dict>
			<key>main/plaza_headFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,638},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>main/plaza_headFrameBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,534},{68,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,65}</string>
			</dict>
			<key>main/plaza_headMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,229},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>main/plaza_pingMin.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{290,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,105}</string>
			</dict>
			<key>main/plaza_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,229},{60,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,63}</string>
			</dict>
			<key>main/plaza_toMoreGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,265},{269,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,80}</string>
			</dict>
			<key>main/plaza_toRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,534},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,58}</string>
			</dict>
			<key>main/plaza_tuHao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{274,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,115}</string>
			</dict>
			<key>main/plaza_coinIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,317},{85,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,74}</string>
			</dict>
			<key>main/plaza_toTaskPress.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,115},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>main/plaza_toTaskNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,536},{123,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,102}</string>
			</dict>
			<key>main/plaza_toSignPress.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,290},{123,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,103}</string>
			</dict>
			<key>main/plaza_toSignNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,413},{123,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,103}</string>
			</dict>
			<key>main/plaza_toShopOress.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{138,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,129}</string>
			</dict>
			<key>main/plaza_toShopNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,428},{125,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,104}</string>
			</dict>
			<key>main/plaza_toMailPress.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,391},{138,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,114}</string>
			</dict>
			<key>main/plaza_toMailNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,609},{121,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,103}</string>
			</dict>
			<key>main/plaza_toBagPress.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,115},{140,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,117}</string>
			</dict>
			<key>main/plaza_toBagNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,505},{121,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,104}</string>
			</dict>
			<key>main/plaza_noticeIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,289},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>main/plaza_noticeBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,593},{340,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,54}</string>
			</dict>
			<key>main/plaza_noticeBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,265},{328,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dlgPlazaPlist.png</string>
			<key>realTextureFileName</key>
			<string>dlgPlazaPlist.png</string>
			<key>size</key>
			<string>{499,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>499</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>