<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dlgPlazaMallScenePlist/btn_plaza_mall_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,852},{176,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,60}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/btn_plaza_mall_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,835},{176,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,60}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,718},{154,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,134}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_diamonds_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,934},{236,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,45}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_dlgbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1043,718}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1043,718}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,718},{153,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,136}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_goods_coffee_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,718},{156,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,160}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_goods_pink_triangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,895},{93,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,86}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_goods_yellow_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,718},{192,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,264}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,718},{138,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,117}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_violet.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,926},{168,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,48}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/word_plaza_exchange_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,982},{129,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,34}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/word_plaza_mall_buy_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,982},{129,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,34}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/word_plaza_mall_buy_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,979},{127,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,34}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/btn_plaza_mall_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,912},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_dlgInsidebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,974},{85,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,46}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_imazamox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,0},{85,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,74}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_one_diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,895},{107,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,87}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/btn_plaza_mall_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,718},{145,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,66}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_goods_orginge_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,718},{213,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,285}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/btn_plaza_msg_mall_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,871},{198,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,55}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/btn_plaza_mall_unpress.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,878},{199,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,56}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/btn_plaza_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,912},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>
			<key>dlgPlazaMallScenePlist/img_plaza_mall_RMB.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,979},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dlgPlazaMallScenePlist.png</string>
			<key>realTextureFileName</key>
			<string>dlgPlazaMallScenePlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>