<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ddzsouces/cardout.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,360},{209,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,113}</string>
			</dict>
			<key>ddzsouces/multiple.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,24},{66,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,29}</string>
			</dict>
			<key>ddzsouces/multiple_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,92},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ddzsouces/nobody_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,3277},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>ddzsouces/result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,571},{300,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,66}</string>
			</dict>
			<key>ddzsouces/btn_green2.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1704},{286,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,124}</string>
			</dict>
			<key>ddzsouces/btn_yellow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1957},{286,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,124}</string>
			</dict>
			<key>ddzsouces/Dialogbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1636},{319,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,137}</string>
			</dict>
			<key>ddzsouces/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,3775},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ddzsouces/pompt_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,3147},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Chinesepoke/lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1992},{207,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,124}</string>
			</dict>
			<key>Chinesepoke/noone.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,3072},{191,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,70}</string>
			</dict>
			<key>Chinesepoke/nothree.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,3068},{191,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,70}</string>
			</dict>
			<key>Chinesepoke/notwo.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,3265},{191,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,70}</string>
			</dict>
			<key>Chinesepoke/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,2201},{205,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,124}</string>
			</dict>
			<key>Chinesepoke/zhizhunqinglong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2863},{207,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,216}</string>
			</dict>
			<key>sss/RoomID_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,991},{186,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,42}</string>
			</dict>
			<key>sss/PlayCount_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,571},{163,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,42}</string>
			</dict>
			<key>sss/BaseScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,3147},{153,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,64}</string>
			</dict>
			<key>sss/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,873},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>sss/rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,3542},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>sss/mian_bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>sss/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,2784},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/shissuiLoge.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1292},{342,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{342,151}</string>
			</dict>
			<key>sss/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1292},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1498},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_YaoqinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,2245},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_BeginBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,2451},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_RightBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,2657},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_TongYiBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3356},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_XuanYaoBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,3099},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_ZhunBeiBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,3241},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,3305},{142,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,88}</string>
			</dict>
			<key>sss/thumb_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,3395},{97,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,127}</string>
			</dict>
			<key>sss/position.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{13,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,21}</string>
			</dict>
			<key>sss/btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,3283},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_canncelBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,3458},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/pattems_duizi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3562},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_duizi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,3447},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_hulu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,3489},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_hulu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,3210},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_liangdui01.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,3261},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_lianngdui02.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,3292},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_santiao01.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,3374},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_santiao02.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,3399},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_shunzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,3494},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_shunzi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,3529},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tiezhi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,3611},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tiezhi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,3632},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghua01.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,3664},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghua02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3705},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghuashun01.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,3404},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghuashun02.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,3456},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_wutong01.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,3486},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_wutong02.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,3538},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/Image_errRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,360},{629,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{629,85}</string>
			</dict>
			<key>sss/toumingbg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,2408},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>sss/toumingbg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,2596},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>sss/Image_Close_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,3637},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>sss/Image_Close_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,3693},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>sss/btn_TeshuBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,2673},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts1.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,2673},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts0.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,2815},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts10.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,2815},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts11.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2863},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts12.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,2926},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts13.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,2857},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts14.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,2957},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,2999},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts3.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,2957},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts4.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,3005},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3072},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3214},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts7.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,3068},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts8.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,3099},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts9.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,3141},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Water.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2673},{185,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,55}</string>
			</dict>
			<key>sss/Image_AllWater.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{1040,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1040,65}</string>
			</dict>
			<key>sss/ontwothreebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>sss/over.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1043},{247,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,250}</string>
			</dict>
			<key>sss/Image_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2673},{182,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,199}</string>
			</dict>
			<key>sss/Image_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1},{357,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{357,160}</string>
			</dict>
			<key>sss/Image_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,2673},{182,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,199}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ddzCNPokePlist.png</string>
			<key>realTextureFileName</key>
			<string>ddzCNPokePlist.png</string>
			<key>size</key>
			<string>{1024,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>