<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sss/btn_TeshuBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,381},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_errRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,247},{629,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{629,85}</string>
			</dict>
			<key>sss/Image_Ts0.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,521},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts1.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,661},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts10.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1010},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts11.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1150},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts12.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1290},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1334},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts14.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1334},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts2.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1334},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts3.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,1334},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts4.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1334},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts5.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,1430},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts6.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1506},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts7.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1474},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1476},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/Image_Ts9.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1474},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/ontwothreebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>sss/over.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{247,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,250}</string>
			</dict>
			<key>sss/pattems_duizi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,801},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_duizi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,942},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_hulu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1083},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_hulu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1224},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_liangdui01.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1365},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_lianngdui02.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,1474},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_santiao01.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1474},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_santiao02.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,1554},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_shunzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1554},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_shunzi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1570},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tiezhi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1646},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tiezhi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1614},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghua01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1618},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghua02.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1614},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghuashun01.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1634},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_tonghuashun02.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1634},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_wutong01.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1650},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/pattems_wutong02.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1726},{141,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,80}</string>
			</dict>
			<key>sss/toumingbg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,876},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>sss/toumingbg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,247},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>sss/Image_Close_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,1694},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>sss/Image_Close_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,1694},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sssCombinScene.png</string>
			<key>realTextureFileName</key>
			<string>sssCombinScene.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>