<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tx/sssdq101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,1520},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,1780},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq103.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1900},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq104.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1900},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq105.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1900},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq106.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1900},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq107.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,1900},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,2040},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq109.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2160},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq110.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2160},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq111.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,2160},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq112.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,2160},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq113.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,2230},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq114.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,2300},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq115.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2420},{260,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,330}</string>
			</dict>
			<key>tx/sssdq201.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,3020},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq202.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,2960},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq203.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,3120},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq204.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,3220},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq205.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3280},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq206.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,3220},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq207.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,3220},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq208.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,2960},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq209.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,2960},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq210.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,3160},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq211.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,3320},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq212.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,3420},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>tx/sssdq301.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,2960},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq302.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3480},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq303.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,3420},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq304.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,3420},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq305.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,3570},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq306.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,3620},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq307.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3740},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq308.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,3880},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq309.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,3720},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq310.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,3870},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq311.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,3720},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq312.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,3520},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq313.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,3360},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq314.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,3870},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq315.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,3670},{150,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,260}</string>
			</dict>
			<key>tx/sssdq401.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq402.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq403.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq404.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq405.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq406.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq407.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,380},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq408.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,380},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq409.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,380},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq410.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,380},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq411.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,760},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq412.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,760},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq413.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,760},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq414.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,760},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq415.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,760},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq416.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq417.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1140},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq418.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1140},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq419.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1140},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq420.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,1140},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq421.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1520},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq422.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1520},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq423.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1520},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq424.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1520},{400,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,380}</string>
			</dict>
			<key>tx/sssdq501.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq502.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,2420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq503.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,2420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq504.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,2420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq505.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2620},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq506.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2680},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq507.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,2620},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq508.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,2620},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq509.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,2560},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq510.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,2670},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq511.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,2560},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq512.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,2560},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq513.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,2760},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq514.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,2760},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq515.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,2760},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq516.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,2820},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq517.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2880},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq518.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,2820},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq519.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,2820},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq520.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,2920},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq521.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,3020},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq522.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3080},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>tx/sssdq523.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,3020},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sssEndAniPlist.png</string>
			<key>realTextureFileName</key>
			<string>sssEndAniPlist.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>