<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sss/BaseScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1020},{153,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,64}</string>
			</dict>
			<key>sss/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,0},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,204},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,408},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,268},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>sss/FrameLai01.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>sss/FrameLai02.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,134},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>sss/Image_AA.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,454},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>sss/Image_Down.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1173},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>sss/Image_Up.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1233},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>sss/Image_YiFu.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,511},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>sss/mian_bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>sss/PlayCount_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,408},{163,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,42}</string>
			</dict>
			<key>sss/RoomID_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,268},{186,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,42}</string>
			</dict>
			<key>sss/rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1020},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>sss/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1114},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>sss/Text_BeginBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,408},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_canncelBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,571},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_RightBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,612},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_TongYiBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,612},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_XuanYaoBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,775},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_YaoqinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,816},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_ZhunBeiBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,816},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Text_QuXiaoReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,979},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>sss/Image_RoomInfoBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1183},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sssMainScene.png</string>
			<key>realTextureFileName</key>
			<string>sssMainScene.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>