<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>loadPlist/load_bar_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,646},{378,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,46}</string>
			</dict>
			<key>loadPlist/load_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,646},{378,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,46}</string>
			</dict>
			<key>loadPlist/load_bar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,696},{378,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,46}</string>
			</dict>
			<key>loadPlist/load_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{960,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,640}</string>
			</dict>
			<key>loadPlist/load_re_update_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,646},{227,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,59}</string>
			</dict>
			<key>loadPlist/load_re_update_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,696},{227,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>loadPlist.png</string>
			<key>realTextureFileName</key>
			<string>loadPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>