<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0" metadata-complete="true">

    <display-name>player</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:conf/app-appCtx.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>g.web.common.init.CommonCtxLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!--编码-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>


    <!--shiro filter begin-->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!--shiro filter end-->

    <!--&lt;!&ndash;Ip过滤&ndash;&gt;-->
    <!--<filter>-->
        <!--<filter-name>ipFilter</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
        <!--<async-supported>true</async-supported>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>ipFilter</filter-name>-->
        <!--<url-pattern>*.html</url-pattern>-->
    <!--</filter-mapping>-->

    <!--语言过滤-->
    <filter>
        <filter-name>localeFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>localeFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <!--非法字符:begin-->
    <filter>
        <filter-name>illegalCharactersFilter</filter-name>
        <filter-class>org.soul.web.filter.IllegalCharacterFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>illegalCharactersFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>illegalWordFilter</filter-name>
        <filter-class>org.soul.web.filter.IllegalWordFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>illegalWordFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!--非法字符:end-->

    <!--pageCache filter begin-->
    <filter>
        <filter-name>pageCache</filter-name>
        <filter-class>org.soul.web.filter.PageCacheFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>pageCache</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!--pageCache filter end-->

    <servlet>
        <servlet-name>dispatchServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:conf/mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    
    
    <error-page>
    	<error-code>404</error-code>
    	<location>/errors/err.jsp</location>
    </error-page>
    
    <error-page>
    	<error-code>500</error-code>
    	<location>/errors/err.jsp</location>
    </error-page>
    
    <error-page>
    	<error-code>503</error-code>
    	<location>/errors/err.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
