<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zpmj_userInfo/userInfo_flowerIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,93},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,42}</string>
			</dict>
			<key>zpmj_userInfo/userInfo_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,81},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
			<key>zpmj_userInfo/userInfo_headFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,3},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>zpmj_userInfo/userInfo_positionIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,3},{13,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,21}</string>
			</dict>
			<key>zpmj_userInfo/userInfo_nil.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,3},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>zpmj_userInfo/userInfo__banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,85},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>zpmj_userInfo/userInfo__roomHost.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,3},{40,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,76}</string>
			</dict>
			<key>zpmj_userInfo/userInfo_msgFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{259,118}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_zpmj_userInfo.png</string>
			<key>realTextureFileName</key>
			<string>Plist_zpmj_userInfo.png</string>
			<key>size</key>
			<string>{506,138}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>506</integer>
			<key>height</key>
			<integer>138</integer>
		</dict>
	</dict>
</plist>