<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameNnFpPlist/nnui0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1268},{153,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,64}</string>
			</dict>
			<key>gameNnFpPlist/nnui0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,659},{154,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,35}</string>
			</dict>
			<key>gameNnFpPlist/nnui0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,815},{154,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,35}</string>
			</dict>
			<key>gameNnFpPlist/nnui0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1518,1639},{97,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,127}</string>
			</dict>
			<key>gameNnFpPlist/nnui0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1550},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0008b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,821},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,910},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1683},{142,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,88}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,999},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1713,1845},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,1941},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,1845},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1941},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1150},{266,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,121}</string>
			</dict>
			<key>gameNnFpPlist/nnui0003b.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,2083},{13,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,21}</string>
			</dict>
			<key>gameNnFpPlist/nnui0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,509},{154,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,146}</string>
			</dict>
			<key>gameNnFpPlist/nnui0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1},{842,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{842,506}</string>
			</dict>
			<key>gameNnFpPlist/nnui0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1687},{898,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{898,410}</string>
			</dict>
			<key>gameNnFpPlist/nnui0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,509},{490,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{490,123}</string>
			</dict>
			<key>gameNnFpPlist/nnui0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2083,715},{86,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1687},{525,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,394}</string>
			</dict>
			<key>gameNnFpPlist/nnui0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,665},{154,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,146}</string>
			</dict>
			<key>gameNnFpPlist/nnui0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1271},{64,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,38}</string>
			</dict>
			<key>gameNnFpPlist/nnui0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1639},{64,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,38}</string>
			</dict>
			<key>gameNnFpPlist/nnui0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1845},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0023b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,1944},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,1845},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0024b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,1944},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1273},{375,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,49}</string>
			</dict>
			<key>gameNnFpPlist/nnui0025b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1217},{375,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,49}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,999},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,715},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{656,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{656,435}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1127},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>gameNnFpPlist/nnui0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1001},{214,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>gameNnFpPlist/nnui0014b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1334},{214,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>gameNnFpPlist/nnui0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2181,1},{534,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{534,93}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1782,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,804},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0010b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,715},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0034b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,659},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>gameNnFpPlist/nnui0034c.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,659},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>gameNnFpPlist/nnui0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,659},{489,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{489,135}</string>
			</dict>
			<key>gameNnFpPlist/nnui0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{1334,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,348}</string>
			</dict>
			<key>gameNnFpPlist/nnui0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1486,1268},{120,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>gameNnFpPlist/nnui0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2083,803},{120,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>gameNnFpPlist/nnui0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1},{1334,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,139}</string>
			</dict>
			<key>gameNnFpPlist/nnui0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,509},{1334,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,32}</string>
			</dict>
			<key>gameNnFpPlist/nnui0008d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/beij0001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>gameNnFpPlist/nnui0003c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2172,743},{110,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,140}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,893},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033e.png</key>
			<dict>
				<key>frame</key>
				<string>{{2083,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,1639},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>gameNnFpPlist/nnui0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1014},{106,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,105}</string>
			</dict>
			<key>gameNnFpPlist/nnui0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{2141,885},{142,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,89}</string>
			</dict>
			<key>gameNnFpPlist/nnui0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1845},{142,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,89}</string>
			</dict>
			<key>gameNnFpPlist/nnui0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,659},{353,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,75}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033a.png</key>
			<dict>
				<key>frame</key>
				<string>{{2172,537},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0043b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1989},{142,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,89}</string>
			</dict>
			<key>gameNnFpPlist/nnui0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,659},{456,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{456,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameNnFpPlist.png</string>
			<key>realTextureFileName</key>
			<string>gameNnFpPlist.png</string>
			<key>size</key>
			<string>{2284,2098}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2284</integer>
			<key>height</key>
			<integer>2098</integer>
		</dict>
	</dict>
</plist>