<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animate/tx1_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1868,1409},{86,61}}</string>
				<key>offset</key>
				<string>{-1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1868,1319},{86,70}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,1347},{68,71}}</string>
				<key>offset</key>
				<string>{9,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,3398},{82,85}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1728,3350},{83,86}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,3274},{84,89}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,3310},{84,89}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,3262},{84,90}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,3262},{83,91}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,3041},{84,111}}</string>
				<key>offset</key>
				<string>{-3,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,2813},{85,110}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,2927},{85,110}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,3160},{84,110}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,2700},{86,109}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx1_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,2588},{87,108}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>animate/tx2_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,2813},{182,192}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,2177},{203,200}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,2407},{207,205}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,2226},{212,210}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,2008},{214,215}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,1855},{216,219}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,2276},{221,223}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,3342},{162,148}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,3506},{135,124}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,3177},{161,152}}</string>
				<key>offset</key>
				<string>{22,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,3103},{169,161}}</string>
				<key>offset</key>
				<string>{22,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,2816},{179,170}}</string>
				<key>offset</key>
				<string>{22,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,3259},{189,178}}</string>
				<key>offset</key>
				<string>{22,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,2381},{196,186}}</string>
				<key>offset</key>
				<string>{22,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,2616},{206,193}}</string>
				<key>offset</key>
				<string>{22,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,2635},{150,138}}</string>
				<key>offset</key>
				<string>{7,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,3452},{160,146}}</string>
				<key>offset</key>
				<string>{7,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,3204},{110,102}}</string>
				<key>offset</key>
				<string>{8,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,3308},{110,102}}</string>
				<key>offset</key>
				<string>{8,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx2_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,3321},{110,102}}</string>
				<key>offset</key>
				<string>{8,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,2739},{200,211}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,1785},{222,219}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,2201},{226,222}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1820},{232,227}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,1622},{234,229}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,1321},{237,230}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1610},{241,234}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2992},{179,155}}</string>
				<key>offset</key>
				<string>{1,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1994},{152,131}}</string>
				<key>offset</key>
				<string>{1,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,3336},{161,151}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1728,2916},{169,160}}</string>
				<key>offset</key>
				<string>{6,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1763,2743},{179,169}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,3144},{189,178}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,2490},{196,186}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2930},{205,193}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,2990},{166,144}}</string>
				<key>offset</key>
				<string>{3,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,2996},{177,153}}</string>
				<key>offset</key>
				<string>{3,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,1743},{122,106}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,2191},{122,106}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx3_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,1869},{122,106}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,2190},{213,214}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1555},{239,226}}</string>
				<key>offset</key>
				<string>{-2,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,1085},{243,230}}</string>
				<key>offset</key>
				<string>{-2,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1107},{250,236}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1087},{252,237}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,850},{255,239}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,548},{260,243}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,3057},{198,175}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,2934},{165,147}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,3276},{160,152}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,3172},{170,160}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,2999},{180,169}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,3324},{189,178}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,2954},{197,186}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,2440},{206,194}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1543,2856},{181,160}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,3326},{193,170}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3527},{133,120}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,3080},{133,120}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx4_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,3184},{133,120}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,2501},{208,234}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,1093},{224,248}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1589},{227,253}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,850},{233,262}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1113},{235,264}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1113},{236,267}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,270},{241,274}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,2440},{183,208}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3175},{153,175}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,3159},{161,158}}</string>
				<key>offset</key>
				<string>{5,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,2990},{169,165}}</string>
				<key>offset</key>
				<string>{5,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,2680},{179,172}}</string>
				<key>offset</key>
				<string>{5,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,3139},{189,181}}</string>
				<key>offset</key>
				<string>{5,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,2857},{196,187}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,2291},{205,195}}</string>
				<key>offset</key>
				<string>{4,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,2571},{168,190}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,2652},{179,201}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,2150},{124,141}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,2295},{124,141}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx5_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,2789},{124,141}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,2709},{188,217}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,2},{252,264}}</string>
				<key>offset</key>
				<string>{2,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,579},{261,273}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1761,812},{269,277}}</string>
				<key>offset</key>
				<string>{1,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,303},{275,280}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,288},{281,283}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,2},{288,286}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,2638},{174,202}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3354},{146,169}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,2075},{212,212}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,1743},{225,226}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1366},{240,240}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,849},{255,254}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,306},{268,268}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,2},{283,282}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{297,297}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{300,298}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx6_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,3523},{119,137}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,767},{180,95}}</string>
				<key>offset</key>
				<string>{-60,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,579},{184,95}}</string>
				<key>offset</key>
				<string>{-36,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1851,1906},{267,171}}</string>
				<key>offset</key>
				<string>{0,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,2427},{278,176}}</string>
				<key>offset</key>
				<string>{-1,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,1560},{287,179}}</string>
				<key>offset</key>
				<string>{-3,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1347},{294,182}}</string>
				<key>offset</key>
				<string>{-3,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,1319},{299,183}}</string>
				<key>offset</key>
				<string>{-1,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1593},{300,176}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1855},{300,172}}</string>
				<key>offset</key>
				<string>{0,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,1645},{300,169}}</string>
				<key>offset</key>
				<string>{0,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1897},{300,167}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2159},{298,168}}</string>
				<key>offset</key>
				<string>{1,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1949},{297,161}}</string>
				<key>offset</key>
				<string>{1,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2461},{297,160}}</string>
				<key>offset</key>
				<string>{1,41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,2250},{279,160}}</string>
				<key>offset</key>
				<string>{8,41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,1625},{277,158}}</string>
				<key>offset</key>
				<string>{8,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,2533},{233,157}}</string>
				<key>offset</key>
				<string>{-13,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2762},{226,155}}</string>
				<key>offset</key>
				<string>{-15,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,2770},{222,155}}</string>
				<key>offset</key>
				<string>{-16,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx7_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,951},{164,96}}</string>
				<key>offset</key>
				<string>{-6,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/catchFlower_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,2387},{102,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,120}</string>
			</dict>
			<key>animate/catchFlower_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,2511},{102,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,120}</string>
			</dict>
			<key>animate/tx8dianp0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,306},{48,34}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,1972},{214,224}}</string>
				<key>offset</key>
				<string>{4,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,2051},{221,232}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,1328},{228,237}}</string>
				<key>offset</key>
				<string>{3,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1353},{232,250}}</string>
				<key>offset</key>
				<string>{3,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1352},{237,248}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1117},{245,254}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,3020},{161,160}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,856},{257,257}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,849},{260,260}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,848},{261,261}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,582},{263,263}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,579},{265,265}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,578},{267,267}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{269,269}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,304},{271,271}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,573},{273,274}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,572},{274,281}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,292},{276,286}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx8dianp0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,2445},{139,89}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animate/tx9sxian0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,3402},{99,117}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1593},{98,130}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1394},{99,131}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1529},{99,131}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,1085},{100,131}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1664},{98,130}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,1491},{100,130}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1861},{98,129}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,2061},{100,126}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2317},{100,124}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,3156},{98,121}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,2743},{98,121}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,3160},{98,115}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,3281},{100,117}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,2868},{100,118}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1798},{100,127}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,2126},{98,128}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1119},{99,134}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1257},{99,133}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1942,1355},{99,132}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,1220},{100,131}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1727},{98,130}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1929},{99,128}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,1995},{99,127}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
			<key>animate/tx9sxian0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,2258},{99,125}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>animatePlist.png</string>
			<key>realTextureFileName</key>
			<string>animatePlist.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>