<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yxmj_main/hu_specil_type/hu_1y.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,916},{112,64}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_2y.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,679},{114,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_3y.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,422},{113,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_4y.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,478},{111,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_gjqj.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,811},{182,50}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_gsgkh.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,861},{121,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_gskh.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,751},{166,60}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_qj.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,306},{116,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_sjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,861},{160,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_th.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,622},{114,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/hu_specil_type/hu_zm.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,534},{106,58}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,82}</string>
			</dict>
			<key>yxmj_main/bg_op.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{141,124}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>
			<key>yxmj_main/bg_roomNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,726},{160,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,25}</string>
			</dict>
			<key>yxmj_main/bg_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,982},{162,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,40}</string>
			</dict>
			<key>yxmj_main/kingFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,696},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>yxmj_main/main_listernState.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,884},{122,107}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,108}</string>
			</dict>
			<key>yxmj_main/main_round_pointer_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,644},{114,52}}</string>
				<key>offset</key>
				<string>{1,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>yxmj_main/main_round_pointer_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,571},{51,116}}</string>
				<key>offset</key>
				<string>{-55,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>yxmj_main/main_round_pointer_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,592},{52,115}}</string>
				<key>offset</key>
				<string>{54,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>yxmj_main/main_round_pointer_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,981},{107,43}}</string>
				<key>offset</key>
				<string>{-2,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>yxmj_main/main_round_timePress.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,306},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>yxmj_main/main_wait_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,916},{117,65}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,65}</string>
			</dict>
			<key>yxmj_main/op_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,892},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>yxmj_main/op_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,892},{126,116}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>yxmj_main/op_guo.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,480},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>yxmj_main/op_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{139,142}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>yxmj_main/op_peng.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,763},{121,118}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>yxmj_main/op_ting.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,763},{123,129}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>yxmj_main/info_externBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,622},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>yxmj_main/MJui0001c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{306,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,306}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_yxmj_main.png</string>
			<key>realTextureFileName</key>
			<string>Plist_yxmj_main.png</string>
			<key>size</key>
			<string>{649,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>649</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>