<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/tx3_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,541},{200,211}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,638},{222,219}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,414},{226,222}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,240},{232,227}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,233},{234,229}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,1},{237,230}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,1},{241,234}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1072},{179,155}}</string>
				<key>offset</key>
				<string>{1,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,776},{151,131}}</string>
				<key>offset</key>
				<string>{1,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,886},{161,151}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1232},{169,160}}</string>
				<key>offset</key>
				<string>{6,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,982},{179,169}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1052},{189,178}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,743},{196,186}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,629},{205,193}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,608},{166,144}}</string>
				<key>offset</key>
				<string>{3,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1152},{177,153}}</string>
				<key>offset</key>
				<string>{3,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1421},{122,107}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,1028},{122,107}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx3_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,1039},{122,107}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,642},{213,214}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,186},{239,226}}</string>
				<key>offset</key>
				<string>{-2,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,1},{243,230}}</string>
				<key>offset</key>
				<string>{-2,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1},{250,236}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1},{252,237}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1},{255,239}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{260,243}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,930},{198,175}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1253},{166,148}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1331},{160,152}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1130},{170,160}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,857},{180,169}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,802},{189,178}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,740},{197,186}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,544},{206,194}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1103},{181,160}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,931},{193,170}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,642},{133,120}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,764},{133,120}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx4_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,629},{133,120}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,426},{180,95}}</string>
				<key>offset</key>
				<string>{-60,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,240},{184,95}}</string>
				<key>offset</key>
				<string>{-36,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,533},{267,171}}</string>
				<key>offset</key>
				<string>{0,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,464},{278,176}}</string>
				<key>offset</key>
				<string>{-1,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,246},{287,179}}</string>
				<key>offset</key>
				<string>{-3,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,237},{294,182}}</string>
				<key>offset</key>
				<string>{-3,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,1},{299,183}}</string>
				<key>offset</key>
				<string>{-1,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,239},{300,176}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,242},{300,172}}</string>
				<key>offset</key>
				<string>{0,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,535},{300,169}}</string>
				<key>offset</key>
				<string>{0,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,541},{300,167}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,240},{299,169}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,843},{297,161}}</string>
				<key>offset</key>
				<string>{1,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,929},{297,160}}</string>
				<key>offset</key>
				<string>{1,41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,859},{279,160}}</string>
				<key>offset</key>
				<string>{8,41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,469},{277,158}}</string>
				<key>offset</key>
				<string>{8,40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,837},{233,157}}</string>
				<key>offset</key>
				<string>{-13,40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,824},{226,155}}</string>
				<key>offset</key>
				<string>{-15,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,928},{222,155}}</string>
				<key>offset</key>
				<string>{-16,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/tx7_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,764},{164,96}}</string>
				<key>offset</key>
				<string>{-6,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_animation.png</string>
			<key>realTextureFileName</key>
			<string>Plist_animation.png</string>
			<key>size</key>
			<string>{2047,1529}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>1529</integer>
		</dict>
	</dict>
</plist>