<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hzmj_cardAndColor/card/card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{66,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,98}</string>
			</dict>
			<key>hzmj_cardAndColor/card/card_bigNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{92,135}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,138}</string>
			</dict>
			<key>hzmj_cardAndColor/card/card_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,534},{38,91}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,94}</string>
			</dict>
			<key>hzmj_cardAndColor/card/card_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,534},{38,91}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,94}</string>
			</dict>
			<key>hzmj_cardAndColor/card/card_smallNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,96},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,96}</string>
			</dict>
			<key>hzmj_cardAndColor/card/card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,602},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,66}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,0},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,89},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,89},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,89},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,178},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/suo/suo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,178},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,178},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,190},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,267},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,267},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,267},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,293},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/tong/tong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,356},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,359},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,356},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,356},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,396},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,445},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,448},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,445},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,445},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/wan/wan_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,499},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/hongZhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,534},{89,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,103}</string>
			</dict>
			<key>hzmj_cardAndColor/card/card_backLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,537},{91,65}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_hzmj_cardInfo.png</string>
			<key>realTextureFileName</key>
			<string>Plist_hzmj_cardInfo.png</string>
			<key>size</key>
			<string>{510,666}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>510</integer>
			<key>height</key>
			<integer>666</integer>
		</dict>
	</dict>
</plist>