/* 银行 & 第三方支付 Steven 2016-4-22 */
.pay-bank,.pay-third{width:125px;display:inline-block;height:30px;vertical-align:middle;background:url(../../images/pay-bank.png) left top no-repeat;}
.pay-bank.sm,.pay-third.sm{width:70px;display:inline-block;height:30px;vertical-align:middle;background:url(../../images/pay-bank-x.png) left top no-repeat;}
.pay-third{background:url(../../images/pay-third.png) left top no-repeat;}
.pay-third.sm{background:url(../../images/pay-third-x.png) left top no-repeat;}
/* 银行 */
.pay-bank.icbc{background-position:0 -30px;}/* 01 中国工商银行 */
.pay-bank.cmb{background-position:0 -60px;}/* 02 招商银行 */
.pay-bank.ccb{background-position:0 -90px;}/* 03 中国建设银行 */
.pay-bank.abc{background-position:0 -120px;}/* 04 中国农业银行 */
.pay-bank.boc{background-position:0 -150px;}/* 05 中国银行 */
.pay-bank.cmbc{background-position:0 -180px;}/* 06 中国民生银行 */
.pay-bank.ceb{background-position:0 -210px;}/* 07 中国光大银行 */
.pay-bank.comm{background-position:0 -240px;}/* 08 交通银行 */
.pay-bank.spdb{background-position:0 -270px;}/* 09 浦发银行 */
.pay-bank.spabank{background-position:0 -300px;}/* 10 平安银行 */
.pay-bank.cib{background-position:0 -330px;}/* 11 兴业银行 */
.pay-bank.bjbank{background-position:0 -360px;}/* 12 北京银行 */
.pay-bank.citic{background-position:0 -390px;}/* 13 中信银行 */
.pay-bank.gdb{background-position:0 -420px;}/* 14 广发银行 */
.pay-bank.psbc{background-position:0 -450px;}/* 15 中国邮政储蓄银行 */
.pay-bank.jsbank{background-position:0 -480px;}/* 16 江苏银行 */
.pay-bank.hxbank{background-position:0 -510px;}/* 17 华夏银行 */
.pay-bank.shbank{background-position:0 -540px;}/* 18 上海银行 */
.pay-bank.bohaib{background-position:0 -570px;}/* 19 渤海银行 */
.pay-bank.hkbea{background-position:0 -600px;}/* 20 东亚银行 */
.pay-bank.nbbank{background-position:0 -630px;}/* 21 宁波银行 */
.pay-bank.czbank{background-position:0 -660px;}/* 22 浙商银行 */
.pay-bank.hzcb{background-position:0 -690px;}/* 23 杭州银行 */
.pay-bank.gcb{background-position:0 -720px;}/* 24 广州银行 */
.pay-bank.fjnx{background-position:0 -750px;}/* 25 福建农商银行 */
.pay-bank.hangseng{background-position:0 -780px;}/* 26 恒生银行 */
/* 第三方支付 */
.pay-third.alipay{background-position:0 -30px;}/* 01 支付宝 */
.pay-third.wechatpay{background-position:0 -60px;}/* 02 微信支付 */
.pay-third.tenpay{background-position:0 -90px;}/* 03 财付通 */
.pay-third.unionpay{background-position:0 -120px;}/* 04 银联在线 */
.pay-third.chinaums{background-position:0 -150px;}/* 05 银联商务 */
.pay-third.bill99{background-position:0 -180px;}/* 06 快钱 */
.pay-third.chinapnr{background-position:0 -210px;}/* 07 汇付天下 */
.pay-third.yeepay{background-position:0 -240px;}/* 08 易宝支付 */
.pay-third.baofoo{background-position:0 -270px;}/* 09 宝付 */
.pay-third.ips, .pay-third.ips_3, .pay-third.ips_7{background-position:0 -300px;}/* 10 环迅支付 */
.pay-third.gopay{background-position:0 -330px;}/* 11 国付宝 */
.pay-third.allinpay{background-position:0 -360px;}/* 12 通联支付 */
.pay-third.lakala{background-position:0 -390px;}/* 13 拉卡拉 */
.pay-third.paypal{background-position:0 -420px;}/* 14 PayPal */
.pay-third.reapal{background-position:0 -450px;}/* 15 融宝 */
.pay-third.bbpay, .pay-third.bbpay_old, .pay-third.bbpay_new{background-position:0 -480px;}/* 16 币币支付 */
.pay-third.dinpay{background-position:0 -510px;}/* 17 快汇宝 */
.pay-third.ecpss{background-position:0 -540px;}/* 18 汇潮支付 */
.pay-third.kjt{background-position:0 -570px;}/* 19 快捷通 */
.pay-third.mobao{background-position:0 -600px;}/* 20 摩宝 */

.preloader{width: 120px; position: absolute; left: 50%; display: none; padding:30px 0; background: url(../../images/loading.gif) #fff no-repeat center center; border-radius: 4px; border: 1px solid #ddd; opacity: 0.9; filter: alpha(opacity=90); text-align: center; z-index: 2000;}

/* 银行 & 第三方支付 Steven 2016-4-22 */
.pay-bank,.pay-third{width:125px;display:inline-block;height:30px;vertical-align:middle;background:url(../../images/pay-bank.png) left top no-repeat;}
.pay-bank.sm,.pay-third.sm{width:70px;display:inline-block;height:30px;vertical-align:middle;background:url(../../images/pay-bank-x.png) left top no-repeat;}
.pay-third{background:url(../../images/pay-third.png) left top no-repeat;}
.pay-third.sm{background:url(../../images/pay-third-x.png) left top no-repeat;}
/* 银行 */
.pay-bank.icbc{background-position:0 -30px;}/* 01 中国工商银行 */
.pay-bank.cmb{background-position:0 -60px;}/* 02 招商银行 */
.pay-bank.ccb{background-position:0 -90px;}/* 03 中国建设银行 */
.pay-bank.abc{background-position:0 -120px;}/* 04 中国农业银行 */
.pay-bank.boc{background-position:0 -150px;}/* 05 中国银行 */
.pay-bank.cmbc{background-position:0 -180px;}/* 06 中国民生银行 */
.pay-bank.ceb{background-position:0 -210px;}/* 07 中国光大银行 */
.pay-bank.comm{background-position:0 -240px;}/* 08 交通银行 */
.pay-bank.spdb{background-position:0 -270px;}/* 09 浦发银行 */
.pay-bank.spabank{background-position:0 -300px;}/* 10 平安银行 */
.pay-bank.cib{background-position:0 -330px;}/* 11 兴业银行 */
.pay-bank.bjbank{background-position:0 -360px;}/* 12 北京银行 */
.pay-bank.citic{background-position:0 -390px;}/* 13 中信银行 */
.pay-bank.gdb{background-position:0 -420px;}/* 14 广发银行 */
.pay-bank.psbc{background-position:0 -450px;}/* 15 中国邮政储蓄银行 */
.pay-bank.jsbank{background-position:0 -480px;}/* 16 江苏银行 */
.pay-bank.hxbank{background-position:0 -510px;}/* 17 华夏银行 */
.pay-bank.shbank{background-position:0 -540px;}/* 18 上海银行 */
.pay-bank.bohaib{background-position:0 -570px;}/* 19 渤海银行 */
.pay-bank.hkbea{background-position:0 -600px;}/* 20 东亚银行 */
.pay-bank.nbbank{background-position:0 -630px;}/* 21 宁波银行 */
.pay-bank.czbank{background-position:0 -660px;}/* 22 浙商银行 */
.pay-bank.hzcb{background-position:0 -690px;}/* 23 杭州银行 */
.pay-bank.gcb{background-position:0 -720px;}/* 24 广州银行 */
.pay-bank.fjnx{background-position:0 -750px;}/* 25 福建农商银行 */
.pay-bank.hangseng{background-position:0 -780px;}/* 26 恒生银行 */
/* 第三方支付 */
.pay-third.alipay{background-position:0 -30px;}/* 01 支付宝 */
.pay-third.wechatpay{background-position:0 -60px;}/* 02 微信支付 */
.pay-third.tenpay{background-position:0 -90px;}/* 03 财付通 */
.pay-third.unionpay{background-position:0 -120px;}/* 04 银联在线 */
.pay-third.chinaums{background-position:0 -150px;}/* 05 银联商务 */
.pay-third.bill99{background-position:0 -180px;}/* 06 快钱 */
.pay-third.chinapnr{background-position:0 -210px;}/* 07 汇付天下 */
.pay-third.yeepay{background-position:0 -240px;}/* 08 易宝支付 */
.pay-third.baofoo{background-position:0 -270px;}/* 09 宝付 */
.pay-third.ips, .pay-third.ips_3, .pay-third.ips_7{background-position:0 -300px;}/* 10 环迅支付 */
.pay-third.gopay{background-position:0 -330px;}/* 11 国付宝 */
.pay-third.allinpay{background-position:0 -360px;}/* 12 通联支付 */
.pay-third.lakala{background-position:0 -390px;}/* 13 拉卡拉 */
.pay-third.paypal{background-position:0 -420px;}/* 14 PayPal */
.pay-third.reapal{background-position:0 -450px;}/* 15 融宝 */
.pay-third.bbpay, .pay-third.bbpay_old, .pay-third.bbpay_new{background-position:0 -480px;}/* 16 币币支付 */
.pay-third.dinpay{background-position:0 -510px;}/* 17 快汇宝 */
.pay-third.ecpss{background-position:0 -540px;}/* 18 汇潮支付 */
.pay-third.kjt{background-position:0 -570px;}/* 19 快捷通 */
.pay-third.mobao{background-position:0 -600px;}/* 20 摩宝 */

.preloader{width: 120px; position: absolute; left: 50%; display: none; padding:30px 0; background: url(../../images/loading.gif) #fff no-repeat center center; border-radius: 4px; border: 1px solid #ddd; opacity: 0.9; filter: alpha(opacity=90); text-align: center; z-index: 2000;}
