<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ddzsouces/beij001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>ddzsouces/doudzui0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,1337},{175,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,40}</string>
			</dict>
			<key>ddzsouces/doudzui0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,1982},{133,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,40}</string>
			</dict>
			<key>ddzsouces/doudzui0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1575},{276,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,76}</string>
			</dict>
			<key>ddzsouces/doudzui0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1495},{276,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,76}</string>
			</dict>
			<key>ddzsouces/doudzui0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2665,1441},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2665,1521},{76,76}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2837,1819},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2874,1900},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1726},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0009c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2482,1441},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2326,1874},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2580,1705},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2211,1833},{136,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2201,1758},{169,71}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0012a.png</key>
			<dict>
				<key>frame</key>
				<string>{{2789,1776},{74,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0012b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2874,1981},{74,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2544,1945},{169,70}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013a.png</key>
			<dict>
				<key>frame</key>
				<string>{{2708,1786},{77,39}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2688,1690},{77,39}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2763,1733},{77,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2333,1495},{123,149}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,155}</string>
			</dict>
			<key>ddzsouces/doudzui0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2706,1835},{127,75}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2374,1749},{169,71}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0018b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2533,1870},{169,71}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1654},{284,68}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,77}</string>
			</dict>
			<key>ddzsouces/doudzui0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,1894},{431,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,84}</string>
			</dict>
			<key>ddzsouces/doudzui0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2460,1482},{122,139}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,142}</string>
			</dict>
			<key>ddzsouces/doudzui0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1916},{544,130}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,131}</string>
			</dict>
			<key>ddzsouces/doudzui0027b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1337},{544,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{544,131}</string>
			</dict>
			<key>ddzsouces/doudzui0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1340},{1221,572}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1225,577}</string>
			</dict>
			<key>ddzsouces/doudzui0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,1972},{303,69}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,80}</string>
			</dict>
			<key>ddzsouces/doudzui0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{2014,1894},{308,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,80}</string>
			</dict>
			<key>ddzsouces/doudzui0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,1982},{310,62}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,80}</string>
			</dict>
			<key>ddzsouces/doudzui0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2122,1726},{91,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,75}</string>
			</dict>
			<key>ddzsouces/doudzui0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,1841},{375,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,49}</string>
			</dict>
			<key>ddzsouces/doudzui0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,1916},{477,127}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{489,135}</string>
			</dict>
			<key>ddzsouces/doudzui0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,1298},{1334,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,139}</string>
			</dict>
			<key>ddzsouces/doudzui0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,2},{1334,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,348}</string>
			</dict>
			<key>ddzsouces/doudzui0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,1262},{1216,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,32}</string>
			</dict>
			<key>ddzsouces/doudzui0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{2490,1824},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>ddzsouces/doudzui0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{2547,1748},{105,42}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>ddzsouces/doudzui0057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1441},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>ddzsouces/doudzui0058.png</key>
			<dict>
				<key>frame</key>
				<string>{{1874,1441},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>ddzsouces/doudzui0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{2211,1495},{259,118}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,121}</string>
			</dict>
			<key>ddzsouces/doudzui0062.png</key>
			<dict>
				<key>frame</key>
				<string>{{2337,1962},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0062b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2344,1441},{134,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/shuz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,1841},{466,49}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{468,60}</string>
			</dict>
			<key>ddzsouces/shuz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,1298},{300,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,50}</string>
			</dict>
			<key>ddzsouces/doudzui0001b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2333,1648},{97,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,127}</string>
			</dict>
			<key>ddzsouces/doudzui0001c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1885},{13,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,21}</string>
			</dict>
			<key>ddzsouces/doudzui0009b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2351,1833},{135,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2600,1794},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010g.png</key>
			<dict>
				<key>frame</key>
				<string>{{2656,1746},{103,36}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2464,1625},{127,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,88}</string>
			</dict>
			<key>ddzsouces/doudzui0013d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2952,1981},{74,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2586,1482},{125,75}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,1516},{549,321}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{553,326}</string>
			</dict>
			<key>ddzsouces/doudzui0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1916},{544,127}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,131}</string>
			</dict>
			<key>ddzsouces/doudzui0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,2},{842,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{842,506}</string>
			</dict>
			<key>ddzsouces/doudzui0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,848},{898,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{898,410}</string>
			</dict>
			<key>ddzsouces/doudzui0015b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2595,1611},{125,75}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2717,1914},{127,75}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0017s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2796,1914},{127,74}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0012c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2464,1705},{112,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ddzGamePlist.png</string>
			<key>realTextureFileName</key>
			<string>ddzGamePlist.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>