<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ddzsouces/beij001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>ddzsouces/doudzui0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2178,1997},{175,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,40}</string>
			</dict>
			<key>ddzsouces/doudzui0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2355,1997},{133,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,40}</string>
			</dict>
			<key>ddzsouces/doudzui0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1961},{276,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,76}</string>
			</dict>
			<key>ddzsouces/doudzui0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1883},{276,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,76}</string>
			</dict>
			<key>ddzsouces/doudzui0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2648,1598},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2713,1756},{76,76}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2569,1598},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2641,1677},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>ddzsouces/doudzui0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,1432},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0009c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2447,1583},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,1432},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2692,1928},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2490,1997},{136,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2464,1869},{169,71}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0012a.png</key>
			<dict>
				<key>frame</key>
				<string>{{2791,1755},{74,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0012b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2799,1714},{74,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2398,1624},{169,70}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013a.png</key>
			<dict>
				<key>frame</key>
				<string>{{2720,1714},{77,39}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2764,1834},{77,39}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0013c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2798,1913},{77,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2341,1432},{123,149}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,155}</string>
			</dict>
			<key>ddzsouces/doudzui0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2584,1774},{127,75}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2227,1637},{169,71}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0018b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2341,1710},{169,71}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2178,1876},{284,68}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,77}</string>
			</dict>
			<key>ddzsouces/doudzui0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,1807},{431,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,84}</string>
			</dict>
			<key>ddzsouces/doudzui0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,1518},{122,139}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,142}</string>
			</dict>
			<key>ddzsouces/doudzui0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1911},{544,130}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,131}</string>
			</dict>
			<key>ddzsouces/doudzui0027b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1911},{544,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,131}</string>
			</dict>
			<key>ddzsouces/doudzui0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{1221,572}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1225,577}</string>
			</dict>
			<key>ddzsouces/doudzui0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,1805},{303,69}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,80}</string>
			</dict>
			<key>ddzsouces/doudzui0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,1807},{308,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,80}</string>
			</dict>
			<key>ddzsouces/doudzui0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2272,1805},{310,62}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,80}</string>
			</dict>
			<key>ddzsouces/doudzui0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,1637},{91,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,75}</string>
			</dict>
			<key>ddzsouces/doudzui0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{2178,1946},{375,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,49}</string>
			</dict>
			<key>ddzsouces/doudzui0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,1328},{477,127}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{489,135}</string>
			</dict>
			<key>ddzsouces/doudzui0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1291},{1334,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,139}</string>
			</dict>
			<key>ddzsouces/doudzui0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{1334,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,348}</string>
			</dict>
			<key>ddzsouces/doudzui0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1257},{1216,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,32}</string>
			</dict>
			<key>ddzsouces/doudzui0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{2183,1518},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>ddzsouces/doudzui0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{2183,1626},{105,42}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>ddzsouces/doudzui0057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,1328},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>ddzsouces/doudzui0058.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1755},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>ddzsouces/doudzui0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,1893},{259,118}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,121}</string>
			</dict>
			<key>ddzsouces/doudzui0062.png</key>
			<dict>
				<key>frame</key>
				<string>{{2247,1432},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0062b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2628,1981},{134,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/shuz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,1755},{466,48}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{468,60}</string>
			</dict>
			<key>ddzsouces/shuz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1291},{300,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,50}</string>
			</dict>
			<key>ddzsouces/doudzui0001b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2033,1642},{97,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,127}</string>
			</dict>
			<key>ddzsouces/doudzui0001c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,1893},{13,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,21}</string>
			</dict>
			<key>ddzsouces/doudzui0009b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2555,1942},{135,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2553,1559},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0010g.png</key>
			<dict>
				<key>frame</key>
				<string>{{2720,1676},{103,36}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>ddzsouces/doudzui0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2512,1696},{127,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,88}</string>
			</dict>
			<key>ddzsouces/doudzui0013d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2805,1831},{74,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2466,1432},{125,75}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1432},{549,321}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{553,326}</string>
			</dict>
			<key>ddzsouces/doudzui0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1911},{544,127}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,131}</string>
			</dict>
			<key>ddzsouces/doudzui0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1},{842,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{842,506}</string>
			</dict>
			<key>ddzsouces/doudzui0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,845},{898,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{898,410}</string>
			</dict>
			<key>ddzsouces/doudzui0015b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2543,1432},{125,75}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2635,1851},{127,75}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>ddzsouces/doudzui0017s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2764,1967},{127,74}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,90}</string>
			</dict>
			<key>doudzui0012c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2227,1710},{112,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
			<key>ddzsouces/doudzui0012c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2333,1583},{112,39}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ddzGamePlist.png</string>
			<key>realTextureFileName</key>
			<string>ddzGamePlist.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>