<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tx1zhad0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,657},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,876},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1095},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1314},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1533},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1752},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,0},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,206},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,425},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,644},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,863},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1082},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
			<key>tx1zhad0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1301},{206,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,219}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>