<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cardAndColor/card/card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{96,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,143}</string>
			</dict>
			<key>cardAndColor/card/card_backLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,580},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
			<key>cardAndColor/card/card_backUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,149},{96,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,143}</string>
			</dict>
			<key>cardAndColor/card/card_bigNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,296},{96,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,143}</string>
			</dict>
			<key>cardAndColor/card/card_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,998},{24,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,52}</string>
			</dict>
			<key>cardAndColor/card/card_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,998},{24,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,52}</string>
			</dict>
			<key>cardAndColor/card/card_smallNomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,443},{96,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,143}</string>
			</dict>
			<key>cardAndColor/card/card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,516},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
			<key>cardAndColor/card/flower_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,640},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
			<key>cardAndColor/card/flowerNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,900},{60,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,87}</string>
			</dict>
			<key>cardAndColor/card/flowr_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,516},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>cardAndColor/card/king_card_bigNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,590},{96,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,143}</string>
			</dict>
			<key>cardAndColor/card/king_card_smallNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,737},{96,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,143}</string>
			</dict>
			<key>cardAndColor/card/king_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,700},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
			<key>cardAndColor/feng/feng_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,884},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/feng/feng_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,2},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/feng/feng_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,102},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/feng/feng_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,216},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,330},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,444},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,558},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,672},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,786},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,900},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,102},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/hua/hua_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,2},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/jian/jian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,216},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/jian/jian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,330},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/jian/jian_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,444},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,558},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,672},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,786},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,900},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,102},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,202},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,316},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/suo/suo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,430},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,544},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,658},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,772},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,886},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,202},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,102},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,2},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,302},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/tong/tong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,416},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,530},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,644},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,758},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,872},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,302},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,202},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,102},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,2},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>cardAndColor/wan/wan_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,402},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cardAndColor.png</string>
			<key>realTextureFileName</key>
			<string>cardAndColor.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>