<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cardPlist/img_card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{126,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,170}</string>
			</dict>
			<key>cardPlist/img_card_big_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,2},{77,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,99}</string>
			</dict>
			<key>cardPlist/img_card_big_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,105},{77,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,99}</string>
			</dict>
			<key>cardPlist/img_card_big_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,208},{77,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,99}</string>
			</dict>
			<key>cardPlist/img_card_big_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,2},{77,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,99}</string>
			</dict>
			<key>cardPlist/img_card_black_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,335},{39,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,46}</string>
			</dict>
			<key>cardPlist/img_card_black_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,2},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,48},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,385},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,431},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,385},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,431},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,297},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,343},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_black_0a.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,105},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>cardPlist/img_card_black_0b.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,247},{29,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,42}</string>
			</dict>
			<key>cardPlist/img_card_black_0c.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,197},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>cardPlist/img_card_black_0d.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,197},{39,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,46}</string>
			</dict>
			<key>cardPlist/img_card_joker_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,350},{105,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,155}</string>
			</dict>
			<key>cardPlist/img_card_joker_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,350},{105,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,155}</string>
			</dict>
			<key>cardPlist/img_card_red_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,247},{39,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,46}</string>
			</dict>
			<key>cardPlist/img_card_red_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,297},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,389},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,435},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,155},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,94},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,2},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,48},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,201},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>cardPlist/img_card_red_0a.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,151},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>cardPlist/img_card_red_0b.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,247},{29,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,42}</string>
			</dict>
			<key>cardPlist/img_card_red_0c.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,251},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>cardPlist/img_card_red_0d.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,105},{39,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,46}</string>
			</dict>
			<key>cardPlist/img_card_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,311},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,26}</string>
			</dict>
			<key>cardPlist/img_card_small_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,311},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,26}</string>
			</dict>
			<key>cardPlist/img_card_small_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,311},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,26}</string>
			</dict>
			<key>cardPlist/img_card_small_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,305},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,26}</string>
			</dict>
			<key>cardPlist/img_card_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,176},{126,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cardPlist.png</string>
			<key>realTextureFileName</key>
			<string>cardPlist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>