<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>default/dating0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,684},{295,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,184}</string>
			</dict>
			<key>default/dating0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,550},{377,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,48}</string>
			</dict>
			<key>default/dating0004b.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1288},{81,83}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,87}</string>
			</dict>
			<key>default/dating0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,887},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,1166},{105,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,931},{136,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005c.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1974},{103,37}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005d.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1384},{104,37}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005e.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1384},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,1220},{105,37}}</string>
				<key>offset</key>
				<string>{3,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005g.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1384},{113,41}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,1347},{113,43}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005i.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,942},{135,37}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005j.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1384},{104,37}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005k.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1301},{102,37}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,1094},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0006a.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,1342},{95,37}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0006b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,1210},{133,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0006c.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1384},{104,37}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0006d.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1384},{113,42}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0006e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,887},{136,37}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,983},{175,175}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,178}</string>
			</dict>
			<key>default/dating0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1334,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,678}</string>
			</dict>
			<key>default/dating0020d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,2},{1282,472}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1282,472}</string>
			</dict>
			<key>default/dating0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1464},{842,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{842,506}</string>
			</dict>
			<key>default/dating0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,684},{898,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{898,410}</string>
			</dict>
			<key>default/dating0056b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1250},{43,78}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,78}</string>
			</dict>
			<key>default/dating0060.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,1288},{203,84}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0060a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,1027},{135,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0060b.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1384},{104,37}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0060c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1342},{102,37}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0060d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,1071},{135,37}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0060e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,1081},{135,37}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,2},{881,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{881,128}</string>
			</dict>
			<key>default/dating0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1384},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>default/dating0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0079b.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1425},{94,25}}</string>
				<key>offset</key>
				<string>{-28,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0080b.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1425},{94,25}}</string>
				<key>offset</key>
				<string>{-28,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0081b.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1425},{94,25}}</string>
				<key>offset</key>
				<string>{-28,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0082.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0082b.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1430},{117,25}}</string>
				<key>offset</key>
				<string>{-17,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1301},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0083b.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1425},{94,25}}</string>
				<key>offset</key>
				<string>{-28,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0084.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0084b.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1425},{94,25}}</string>
				<key>offset</key>
				<string>{-28,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0085b.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1425},{94,25}}</string>
				<key>offset</key>
				<string>{-27,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0086.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0086b.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,2015},{71,25}}</string>
				<key>offset</key>
				<string>{-39,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0087b.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1429},{117,25}}</string>
				<key>offset</key>
				<string>{-16,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0087c01.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0087c01b.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2015},{94,25}}</string>
				<key>offset</key>
				<string>{-27,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0087c02.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1974},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>default/dating0087c02b.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,2015},{94,25}}</string>
				<key>offset</key>
				<string>{-27,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,26}</string>
			</dict>
			<key>default/dating0088.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1162},{203,84}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0088a.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1288},{203,84}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0088b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,1275},{105,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0088c.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,1301},{102,37}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/img_nntb_chat_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1454},{519,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,394}</string>
			</dict>
			<key>default/img_nntb_chat_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1948,2},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>default/nnui0034c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1948,472},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>default/dating0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,2},{544,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{544,40}</string>
			</dict>
			<key>default/dating0060f.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1974},{103,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,1329},{105,37}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>default/dating0005m.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1384},{104,37}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>defaultPlist.png</string>
			<key>realTextureFileName</key>
			<string>defaultPlist.png</string>
			<key>size</key>
			<string>{2044,2042}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2044</integer>
			<key>height</key>
			<integer>2042</integer>
		</dict>
	</dict>
</plist>