<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Scene_hzmj_settlement/fanshuleixing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,282},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,338},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,93},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,93},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,93},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,93},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,149},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,180},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,228},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,149},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,149},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,205},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,236},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,284},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,205},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,205},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,224},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,261},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,292},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,340},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,355},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,394},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,450},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,261},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,261},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,317},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,348},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,396},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,317},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,317},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,355},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,373},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,404},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,452},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,486},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0002d.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,2},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,61},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0003b.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,61},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,373},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,429},{57,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,76}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,61},{115,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,117}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,152},{237,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,50}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0055.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,224},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0056b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{568,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,55}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0057.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,152},{145,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,72}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0058.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,206},{145,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,72}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,206},{145,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,72}</string>
			</dict>
			<key>Scene_hzmj_settlement/MJui0060.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,2},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,506},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>Scene_hzmj_settlement/fanshuleixing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,562},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Scene_hzmj_settlement.png</string>
			<key>realTextureFileName</key>
			<string>Scene_hzmj_settlement.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>