<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animationRes/waiting/diyiny.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{292,232}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,155},{141,147}}</string>
				<key>offset</key>
				<string>{-9,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,2},{146,149}}</string>
				<key>offset</key>
				<string>{-5,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,2},{143,149}}</string>
				<key>offset</key>
				<string>{-5,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,434},{133,147}}</string>
				<key>offset</key>
				<string>{-7,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,457},{135,144}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,536},{138,140}}</string>
				<key>offset</key>
				<string>{3,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,153},{146,138}}</string>
				<key>offset</key>
				<string>{8,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,523},{147,137}}</string>
				<key>offset</key>
				<string>{11,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,295},{151,135}}</string>
				<key>offset</key>
				<string>{12,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,664},{147,132}}</string>
				<key>offset</key>
				<string>{15,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,442},{151,129}}</string>
				<key>offset</key>
				<string>{12,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,381},{147,138}}</string>
				<key>offset</key>
				<string>{13,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,431},{136,145}}</string>
				<key>offset</key>
				<string>{18,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,2},{145,147}}</string>
				<key>offset</key>
				<string>{12,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,2},{146,147}}</string>
				<key>offset</key>
				<string>{10,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,306},{137,147}}</string>
				<key>offset</key>
				<string>{11,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,238},{138,146}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,388},{138,144}}</string>
				<key>offset</key>
				<string>{3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,153},{145,143}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,238},{148,139}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,155},{150,136}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,295},{151,132}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,575},{150,128}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
			<key>animationRes/waiting/maquefei0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,300},{146,138}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>waitNodePlist.png</string>
			<key>realTextureFileName</key>
			<string>waitNodePlist.png</string>
			<key>size</key>
			<string>{905,798}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>905</integer>
			<key>height</key>
			<integer>798</integer>
		</dict>
	</dict>
</plist>