  <div  class="dialogFront"><!--公告弹窗-->
      <div id="dialog" class="dia_big">
          <div class="Account_tc_bg4"></div>
          <div class="Account_tc_bg5"></div>
          <div class="Account_bt_bg">
              <div class="Dia_announcement_icon"></div>
          </div>
          <div class="Active_tc">
              <div class="Dialog_bg1 Account_tc_bg1">
              </div>
              <div class="Active_tc_bg2">
                  <div class="clear"></div>
                  <div class="Active_active_content div1">
                      <div class="Active_list_bg div1">
                          <ul>
                              <li>
                                  <a class="Active_btn_bg Active_btn_bg_change">
                                      新手豪华福利
                                  </a>
                              </li>
                              <li>
                                  <a class="Active_btn_bg">
                                      新手豪华福利
                                  </a>
                              </li>
                              <li>
                                  <a class="Active_btn_bg">
                                      注册领大奖
                                  </a>
                              </li>
                              <li>
                                  <a class="Active_btn_bg">
                                      首充免费送
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div class=" Active_content"></div>
                  </div>
              </div>
              <div class="Dialog_bg3 Account_tc_bg3"></div>
          </div>
          <button class="Prompt_close"></button>
      </div>
</div>