<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0x01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x07.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x08.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x09.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x0A.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x0B.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x0C.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x0D.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x11.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x12.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x13.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x14.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x15.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x16.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x17.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x18.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x19.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x1A.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x1B.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,0},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x1C.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x1D.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x21.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x22.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x23.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x24.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x25.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x26.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x27.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x28.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,154},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x29.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x2A.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x2B.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x2C.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x2D.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x31.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x32.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x33.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,308},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x34.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x35.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x36.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x37.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x38.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x39.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,462},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x3A.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x3B.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x3C.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x3D.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,616},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x4E.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
			<key>0x00.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,770},{113,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,154}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cards.png</string>
			<key>realTextureFileName</key>
			<string>cards.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>