<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameNnFpPlist/nnui0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1695,1185},{153,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,64}</string>
			</dict>
			<key>gameNnFpPlist/nnui0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,781},{154,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,35}</string>
			</dict>
			<key>gameNnFpPlist/nnui0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,1252},{154,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,35}</string>
			</dict>
			<key>gameNnFpPlist/nnui0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,1548},{97,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,127}</string>
			</dict>
			<key>gameNnFpPlist/nnui0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1695,1096},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0008b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,598},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,1528},{142,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,88}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,687},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,1603},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,1627},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2064,1603},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1683,1708},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>gameNnFpPlist/nnui0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1150},{266,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,121}</string>
			</dict>
			<key>gameNnFpPlist/nnui0003b.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,2083},{13,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,21}</string>
			</dict>
			<key>gameNnFpPlist/nnui0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1528},{154,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,146}</string>
			</dict>
			<key>gameNnFpPlist/nnui0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1},{842,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{842,506}</string>
			</dict>
			<key>gameNnFpPlist/nnui0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1687},{898,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{898,410}</string>
			</dict>
			<key>gameNnFpPlist/nnui0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,509},{490,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{490,123}</string>
			</dict>
			<key>gameNnFpPlist/nnui0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1036},{86,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1687},{525,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,394}</string>
			</dict>
			<key>gameNnFpPlist/nnui0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,1096},{154,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,146}</string>
			</dict>
			<key>gameNnFpPlist/nnui0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1271},{64,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,38}</string>
			</dict>
			<key>gameNnFpPlist/nnui0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,937},{64,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,38}</string>
			</dict>
			<key>gameNnFpPlist/nnui0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,1618},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0023b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1647},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1715},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0024b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,1506},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>gameNnFpPlist/nnui0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1273},{375,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,49}</string>
			</dict>
			<key>gameNnFpPlist/nnui0025b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,659},{375,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,49}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,776},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,982},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,776},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{656,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{656,435}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,776},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1127},{140,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,142}</string>
			</dict>
			<key>gameNnFpPlist/nnui0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1096},{214,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>gameNnFpPlist/nnui0014b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1312},{214,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
			<key>gameNnFpPlist/nnui0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1001},{534,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,93}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2073,509},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2073,982},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0010b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,1071},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0034b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,659},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>gameNnFpPlist/nnui0034c.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,659},{466,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,50}</string>
			</dict>
			<key>gameNnFpPlist/nnui0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,659},{489,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{489,135}</string>
			</dict>
			<key>gameNnFpPlist/nnui0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{1334,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,348}</string>
			</dict>
			<key>gameNnFpPlist/nnui0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,1014},{120,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>gameNnFpPlist/nnui0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,659},{120,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,56}</string>
			</dict>
			<key>gameNnFpPlist/nnui0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1},{1334,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,139}</string>
			</dict>
			<key>gameNnFpPlist/nnui0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2162,509},{1334,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,32}</string>
			</dict>
			<key>gameNnFpPlist/nnui0008d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,1188},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0009d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1703,1251},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/beij0001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>gameNnFpPlist/nnui0003c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1394},{110,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,140}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,1251},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,1277},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{2073,715},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>gameNnFpPlist/nnui0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,1601},{106,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,105}</string>
			</dict>
			<key>gameNnFpPlist/nnui0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,1457},{142,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,89}</string>
			</dict>
			<key>gameNnFpPlist/nnui0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,1457},{142,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,89}</string>
			</dict>
			<key>gameNnFpPlist/nnui0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,659},{353,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,75}</string>
			</dict>
			<key>gameNnFpPlist/nnui0033a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,1289},{204,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,87}</string>
			</dict>
			<key>gameNnFpPlist/nnui0043b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,1483},{142,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameNnFpPlist.png</string>
			<key>realTextureFileName</key>
			<string>gameNnFpPlist.png</string>
			<key>size</key>
			<string>{2195,2098}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2195</integer>
			<key>height</key>
			<integer>2098</integer>
		</dict>
	</dict>
</plist>