<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>emotion/wangxian_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,446},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,100},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,146},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,192},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_12_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,238},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_12_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,284},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_12_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,330},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,376},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,422},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,100},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,146},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_14_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,192},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,238},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,284},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_16_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,450},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>emotion/wangxian_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,350},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>emotion/wangxian_16_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,398},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>emotion/wangxian_17_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_18_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,330},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,376},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_19_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,350},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>
			<key>emotion/wangxian_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,400},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>
			<key>emotion/wangxian_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,422},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,100},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,146},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,192},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,238},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,284},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,330},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,376},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,422},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,100},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,146},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_20_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,192},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_21_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_21_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_22_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_22_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_23_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,100},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_24_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,150},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_24_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,200},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_25_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,250},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,300},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_26_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,350},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_26_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,400},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_27_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,450},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_27_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_28_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_28_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,50},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,100},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,150},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,200},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,250},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,300},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>emotion/wangxian_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,238},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,284},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,330},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,376},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,422},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,100},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,146},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,192},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,238},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>emotion/wangxian_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,284},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>emoiton.png</string>
			<key>realTextureFileName</key>
			<string>emoiton.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>