<div  class="container"><!--游戏大厅-->
    <div class="ui-green-bg">
        <!-- 玩家信息 -->
        <div class="personal_info"></div>
        <!--滚动通知-->
        <div class="announcement"></div>
        <div class="centre">
            <!--排行版-->
            <div class="GL_list">
                <div class="toggle_button">
                    <div class="button">
                        <div class="rich">
                            <img  class="rich_font" src="../static/images/poker/bullFight/common/text/rich0.png">
                        </div>
                        <div class="gain">
                            <img  class="rich_font" src="../static/images/poker/bullFight/common/text/profit1.png">
                        </div>
                    </div>
                    <div class="button2">
                        <div class="rich2">
                            <img  class="rich_font" src="../static/images/poker/bullFight/common/text/rich1.png">
                        </div>
                        <div class="gain2">
                            <img  class="rich_font" src="../static/images/poker/bullFight/common/text/profit0.png">
                        </div>
                    </div>
                </div>
                <div class="list_bg">
                    <div class="list_bg1">
                        <div class="list_bg4"></div>
                    </div>
                    <div class="list_bg3"></div>
                    <div class="list_bg2">
                        <!--加载数据动画-->
                        <div id="commonLoading" class="commonLoading">
                            <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                                <div class="sk-circle9 sk-child"></div>
                                <div class="sk-circle10 sk-child"></div>
                                <div class="sk-circle11 sk-child"></div>
                                <div class="sk-circle12 sk-child"></div>
                            </div>
                        </div>
                        <!--富豪榜-->
                        <div class="list_content"></div>
                        <!--盈利榜-->
                        <div class="earnings"></div>
                    </div>
                    <div class="list_bg5"></div>
                    <div class="list_bg6"></div>
                </div>
            </div>
            <!--玩法-->
            <div class="game_play">
                <a href="#/model/bullBao">
                    <div class="Begin">
                        <div class="Game_Lobby_light">
                            <div class="Lobby_light">
                                <div class="Lobby_btn Lobby_btn_animation"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/model/bullclassic" style="display:none">
                    <div class="classic">
                        <div class="Game_Lobby_light">
                            <div class="Lobby_light">
                                <div class="Lobby_btn1 Lobby_btn_animation"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/model/bull100">
                    <div class="hundred">
                        <div class="Game_Lobby_light">
                            <div class="Lobby_light">
                                <div class="Lobby_btn2 Lobby_btn_animation"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--导航-->
        <nav class="GameLobby_nav">
            <ul>
                <li class="GameL-announcement"></li>
                <li class="GameL-rules"></li>
                <li class="notes"></li>
                <li class="accounts"></li>
            </ul>
        </nav>
    </div>
</div>