<div class="announcement"><!--滚动通知-->
    <div class="ui-destop-notice">
        <div class="ui-destopnotic-font">
            <marquee direction="left" scrollamount="2">
                恭喜<span>Toggle</span>获得<b>550元</b>大奖奖奖奖奖奖奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                恭喜<span>Toggle2</span>获得<b>550元</b>大奖奖奖奖奖奖奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                恭喜<span>Toggle3</span>获得<b>550元</b>大奖奖奖奖奖奖奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </marquee>
        </div>
        <div class="ui-destop-notic-wifi">
            <img src="../static/images/poker/bullFight/common/icon/wifi3.png"/>
        </div>
    </div>
</div>