<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cl_card_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1835},{172,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>cl_card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1835},{172,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>cl_card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{172,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>cl_pageMark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1862},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>cl_pageMark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1835},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>cl_selectLevelBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{787,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,609}}</string>
                <key>sourceSize</key>
                <string>{787,609}</string>
            </dict>
            <key>cl_selectLevelBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{787,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,609}}</string>
                <key>sourceSize</key>
                <string>{787,609}</string>
            </dict>
            <key>cl_selectLevelBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{787,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,609}}</string>
                <key>sourceSize</key>
                <string>{787,609}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChooseLevel.png</string>
            <key>size</key>
            <string>{791,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d1be5861556f526811a0290e1e8a29:1/1$</string>
            <key>textureFileName</key>
            <string>ChooseLevel.png</string>
        </dict>
    </dict>
</plist>
