<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gp_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,927},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>gp_arrowBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1167},{35,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,8}}</string>
                <key>sourceSize</key>
                <string>{35,8}</string>
            </dict>
            <key>gp_arrowTowerInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1023},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>gp_attackTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,927},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>gp_attackTowerInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1076},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>gp_basePlate.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,927},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>gp_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1154},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>gp_gamePass.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{923,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{923,675}}</string>
                <key>sourceSize</key>
                <string>{923,675}</string>
            </dict>
            <key>gp_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1154},{130,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,11}}</string>
                <key>sourceSize</key>
                <string>{130,11}</string>
            </dict>
            <key>gp_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,927},{147,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,29}}</string>
                <key>sourceSize</key>
                <string>{147,29}</string>
            </dict>
            <key>gp_multiDirTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1021},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>gp_multiDirTowerInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,927},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>gp_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1027},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>gp_noMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1057},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>gp_playHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1125},{269,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,32}}</string>
                <key>sourceSize</key>
                <string>{269,32}</string>
            </dict>
            <key>gp_playStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,927},{225,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,68}}</string>
                <key>sourceSize</key>
                <string>{225,68}</string>
            </dict>
            <key>gp_toolBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1178,127}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1178,127}}</string>
                <key>sourceSize</key>
                <string>{1178,135}</string>
            </dict>
            <key>gp_towerPos.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,927},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GamePlay_Info.png</string>
            <key>size</key>
            <string>{808,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a06724975ea056cdb94bfc02b0340829:1/1$</string>
            <key>textureFileName</key>
            <string>GamePlay_Info.png</string>
        </dict>
    </dict>
</plist>
