<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>li_levelInfoPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1026,683}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{1026,683}}</string>
                <key>sourceSize</key>
                <string>{1026,715}</string>
            </dict>
            <key>li_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1030},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>li_starBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LeveInfo.png</string>
            <key>size</key>
            <string>{687,1117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5751060bca949b12e814c990448055c3:1/1$</string>
            <key>textureFileName</key>
            <string>LeveInfo.png</string>
        </dict>
    </dict>
</plist>
