<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_btnStartGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{502,130}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{502,130}}</string>
                <key>sourceSize</key>
                <string>{514,142}</string>
            </dict>
            <key>mm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,119}}</string>
                <key>sourceSize</key>
                <string>{600,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{604,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2567068ea54ab8d4b6da8c06d75d7d89:1/1$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
