<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>huaiFengCardListPlist/img_card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_01_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_02_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_03_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_04_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_05_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_06_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_07_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_08_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_09_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_0a_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_0b_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_0c_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_0d_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_11_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_12_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_13_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_14_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_15_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_16_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_17_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_18_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_19_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_1a_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_1b_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_1c_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_1d_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_21_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_22_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_23_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_24_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_25_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_26_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_27_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_28_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_29_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_2a_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,186},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_2b_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,372},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_2c_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,558},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_2d_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,744},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_31_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_32_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_33_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_34_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_35_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,0},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_36_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,134},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_37_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,320},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_38_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,506},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_39_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,692},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_3a_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,878},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_3b_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,134},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_3c_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,320},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_3d_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,506},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_4e_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,692},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
			<key>huaiFengCardListPlist/Value_4f_Style_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,878},{134,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,186}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>huaiFengCardPlist.png</string>
			<key>realTextureFileName</key>
			<string>huaiFengCardPlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>