<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comm_text_list_according_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{75,42}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{75,42}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,52}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{81,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>comm_text_list_according_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{79,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>comm_text_list_according_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{71,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{71,48}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{69,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{69,46}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{69,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{69,46}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{71,48}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{71,48}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{69,46}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{69,46}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{67,44}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{67,44}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>comm_text_list_according_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{69,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>comm_text_list_according_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{71,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{71,48}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comm_text_list_according.png</string>
            <key>size</key>
            <string>{886,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc5ea509f09d30e37093a244f0e1720c:1/1$</string>
            <key>textureFileName</key>
            <string>comm_text_list_according.png</string>
        </dict>
    </dict>
</plist>
